<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="block/header :: header"/>
</head>
<body>
<div class="split left">
    <div class="centered">
    </div>
</div>
<div class="split right">
    <header th:insert="block/menu :: menu"/>
    <div class="centered">
        <div th:if="${param.error}">
            <b> НЕВЕРНЫЙ ЛОГИН ИЛИ ПАРОЛЬ! </b>
        </div>
        <div th:if="${param.logout}">
            <b> НЕОБХОДИМА АВТОРИЗАЦИЯ! </b>
        </div>
        <form th:action="@{/login}" method="post">
            <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            <div class="form-group">
                <label for="exampleInputEmail1">Имя пользователя:</label>
                <input type="login" class="form-control" name="username" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Введите логин">
                <small id="emailHelp" class="form-text text-muted">Не разглашайте свой логин, даже если очень
                    хочется.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль:</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                       placeholder="Введите пароль">
            </div>
            <button type="submit" class="btn btn-primary">Sign IN</button>
            <a class="col-4 mr-auto ml-3" th:href="@{/registration}">Sign UP</a>
        </form>
    </div>
</div>


</body>
</html>