<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="block/header :: header"/>
</head>
<body>
<header th:insert="block/menu :: menu"/>

<div class="container">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <form method="post" action="/filter">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <form class="d-flex">
                            <input type="search" class="form-control me-2" placeholder="Фильтр" th:value="${filterView}" name="filter">
                        </form>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Найти</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Добавить товар</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="30">Фото</th>
                    <th scope="col" width="50">Товар</th>
                    <th scope="col" width="50">Цена</th>
                    <th scope="col" width="110">Описание</th>
                    <th scope="col" width="170">Действие</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="i : ${list}">
                    <tr>
                        <td width="30" th:if="${uploadPath} + '/' + ${i.getFileName()}"><img th:src="${uploadPath} + '/' + ${i.getFileName()}" class="rounded float-start" width="150" height="150"></td>
                        <td width="50" th:text="${i.getName()}"/>
                        <td width="50" th:text="${i.getPrice()}"/>
                        <td width="110" th:text="${i.getDescription()}"/>
                        <td width="170">
                            <div class="dropdown">
                                <form th:action="${i.getId()} + '/remove'" method="post">
                                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Выбрать
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a th:href="@{|/buyProduct?id=${i.getId()}|}" class="dropdown-item">В корзину</a></li>
                                        <li><a th:href="${i.getId()} + '/edit'" class="dropdown-item">Редактировать</a></li>
                                        <li><button class="dropdown-item" type="submit">Удалить</button></li>
                                    </ul>
                                </form>
                            </div>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добить товар</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Фото:</label><br>
                        <input class="form-control" type="file" name="file" id="formFile" th:class="my-3">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Наименование:</label>
                        <input type="text" class="form-control" id="recipient-name" name="name" placeholder="Наименование">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-price" class="col-form-label">Цена:</label>
                        <input type="text" class="form-control" id="recipient-price" name="price" placeholder="Цена">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Описание:</label>
                        <textarea typeof="text" name="description" id="message-text" placeholder="Описание"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>