<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="block/header :: header"/>
</head>
<body>
<header th:insert="block/menu :: menu"/>


<div class="container">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="30">Заказ №</th>
                    <th scope="col" width="30">Состав</th>
                    <th scope="col" width="30">Редактировать</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="i : ${order}">
                    <form method="post" th:action="${i.getOrder_id()} + '/orderDelete'">
                        <tr>
                            <td width="50" th:text="${i.getOrder_id()}"/>
                            <td>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>Товар</th>
                                        <th>Цена</th>
                                        <th>Количество</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:each="z : ${i.getOrderProductList()}">
                                        <tr>
                                            <td width="30" th:if="${uploadPath} + '/' + ${z.getFileName()}"><img th:src="${uploadPath} + '/' + ${z.getFileName()}" class="rounded float-start" width="50" height="50"/></td>
                                            <td width="50" th:text="${z.getName()}"/>
                                            <td width="50" th:text="${z.getPrice()}"/>
                                            <td width="50" th:text="${z.getCount()}">
                                        </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </td>
                        <td><button class="dropdown-item" type="submit">Удалить</button></td>
                        </tr>
                    </form>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>