<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="block/header :: header"/>
</head>
<body>
<header th:insert="block/menu :: menu"/>


<div class="container">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <div th:each="i : ${orders}">
            <div class="card">
                <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="30">Заказ №</th>
                    <th scope="col" width="30">Дата</th>
                    <th scope="col" width="30">Состав</th>
                    <th scope="col" width="30">Edit</th>
                    <th scope="col" width="30">Удалить</th>
                </tr>
                </thead>
                <tbody>
                    <form method="post" th:action="${i.getId()} + '/orderDelete'">
                        <tr>
                            <td width="50" th:text="${i.getId()}"/>
                            <td width="50" th:text="${i.getDate()}"/>
                            <td>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>Товар</th>
                                        <th>Цена</th>
                                        <th>Количество</th>
                                        <th>Всего</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:each="z : ${i.getProductListOrder()}">
                                        <tr>
                                            <td width="30" th:if="${uploadPath} + '/' + ${z.getProduct().getFileName()}"><img th:src="${uploadPath} + '/' + ${z.getProduct().getFileName()}" class="rounded float-start" width="50" height="50"/></td>
                                            <td width="50" th:text="${z.getProduct().getName()}"/>
                                            <td width="50" th:text="${z.getPriceFinal()}"/>
                                            <td width="50" th:text="${z.getCount()}">
                                            <td width="50" th:text="${z.getCostFinal()}">
                                        </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </td>
                            <td><a th:href="'/orders/' + ${i.getId()} + '/edit'" class="dropdown-item">Edit</a></td>
                        <td><button class="dropdown-item" type="submit">Удалить</button></td>
                        </tr>
                    </form>
                </tbody>
            </table>
                    <b><h6>Mail:</h6></b> <p th:text="${i.getEmail()}"/>
                    <b><h6>Адрес доставки:</h6></b> <p th:text="${i.getAddress()}"/>
                    <b><h6>Комментарий:</h6></b> <p th:text="${i.getComment()}"/>
                </div>
            </div>
                <br>
            </div>

        </div>
    </div>
</div>
</body>
</html>