<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="block/header :: header"/>
</head>
<body>
<header th:insert="block/menu :: menu"/>
<div class="container">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <div th:if="${message}">
                <div th:text="${message}"/>
            </div>
            <form method="post" action="/user/addUser">
                <!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Логин" aria-label="Новый логин"
                               name="username">
                    </div>
                    <div class="col">
                        <input type="password" name="password" class="form-control" placeholder="Пароль"
                               aria-label="Новый пароль">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>


<div class="container">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="a : ${users}">
                    <tr>
                        <td th:text="${a.getUsername()}"/>
                        <td>
                            <div th:each="role : ${a.getRoles()}">
                                <div th:text="${role.name()}"/>
                            </div>
                        </td>
                        <td>
                            <!--  <a class="btn btn-primary" href="#" role="button">Link</a> -->
                            <form th:action="'/user/' + ${a.getId()} + '/remove'" method="post">
                                <a th:href="'/user/' + ${a.getId()}" class="btn btn-warning"
                                   type="submit">Редактировать</a>
                                <button class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>