<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="block/head :: header"/>
<div class="container">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">
List of users
<table class="table">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Роль</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="a : ${users}">
    <tr>
        <td th:text="${a.getUsername()}"/>
        <td>
            <div th:each="role : ${a.getRoles()}">
        <div th:text="${role.name()}"/></div></td>
        <td>
          <!--  <a class="btn btn-primary" href="#" role="button">Link</a> -->
            <form th:action="'/user/' + ${a.getId()} + '/remove'" method="post">
                <a th:href="'/user/' + ${a.getId()}" class="btn btn-success" type="submit">Edit</a>
                <button class="btn btn-warning" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </div>
    </tbody>
</table>
        </div>
    </div>
</div>
</body>
</html>