<div th:fragment="menu">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Каталог продуктов</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <form th:action="@{/logout}" method="post">
                <span sec:authorize="!isAuthenticated()">
                    <h5 class="my-0 mr-md-auto font-weight-normal">Страница авторизации</h5>
                </span>
                <span sec:authorize="isAuthenticated()">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/user">Пользователи</a>
                    <a href="/shoppingCart" type="button" class="btn btn-primary">
  Корзина <span class="badge badge-light"><span th:text="${quantity}"></span></span>
  <span class="sr-only">unread messages</span>
</a>
                    <a class="p-2 text-dark" href="/orders">Заказы</a>
                <input type="submit" class="btn btn-success" value="Выход"/>
            </span>

            </form>
            <span sec:authorize="isAuthenticated()">| Привет <span sec:authentication="name"></span> |
                Роли: <span sec:authentication="principal.authorities"></span> |
            </span>
        </nav>
    </div>
</div>